* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "proxima-nova",sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.5;
  color: #3d3f39; }
  @media screen and (min-width: 769px) {
    body {
      font-size: 1em; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova",sans-serif;
  font-weight: 600; }

h1 {
  font-size: 2.5em;
  line-height: 1; }

h2 {
  font-size: 2.25em;
  line-height: 1; }

h3 {
  font-size: 2em;
  line-height: 1.125; }

h4 {
  font-size: 1.75em;
  line-height: 1.25; }

h5 {
  font-size: 1.5em;
  line-height: 1.25; }

h6 {
  font-size: 1.25em;
  line-height: 1.25; }

p {
  font-size: 1.25em; }

a {
  text-decoration: none;
  color: #f05f3b;
  padding-bottom: 2px; }
  a:hover {
    color: #cf3610; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  margin: 0; }

.row {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  padding: 2em; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  @media screen and (min-width: 769px) {
    .row {
      padding: 4em; } }
  .row h4 {
    font-weight: 300; }

.inner {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  display: table;
  vertical-align: middle;
  padding: 2em; }
  .inner:before, .inner:after {
    content: " ";
    display: table; }
  .inner:after {
    clear: both; }
  .inner .icon, .inner .text {
    display: block;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .inner .icon:last-child, .inner .text:last-child {
      margin-right: 0; }
    @media screen and (min-width: 769px) {
      .inner .icon, .inner .text {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 48.82117%;
        display: table-cell;
        vertical-align: middle;
        float: none; }
        .inner .icon:last-child, .inner .text:last-child {
          margin-right: 0; } }

.hide-small {
  display: none !important; }
  @media screen and (min-width: 769px) {
    .hide-small {
      display: table-cell !important; } }

.show-small {
  display: table-cell !important; }
  @media screen and (min-width: 769px) {
    .show-small {
      display: none !important; } }

.dispatcher {
  background: #5dba7e; }

.foreman {
  background: #af4b37;
  color: #e4d5a8; }

.blacksmith {
  background: #3d3f39;
  color: #e4d5a8; }

.trucker {
  background: #7ecabe; }

.ranger {
  background: #e4d5a8; }

.logo {
  max-width: 15em; }

.intro {
  border-top: 1px solid #bdbfb8; }

.outro p {
  max-width: 30em;
  margin: 0 auto; }

footer p {
  font-size: 1em;
  display: inline; }
footer .social-icons {
  list-style-type: none;
  float: right;
  padding: 0;
  margin: -0.25em 0 0; }
  footer .social-icons li {
    display: inline; }
footer .ss-social-circle {
  font-size: 1.5em;
  margin: 0 0 0 0.25em;
  padding: 0; }
