* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "proxima-nova",sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3d3f39; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova",sans-serif;
  font-weight: 600; }

h1 {
  font-size: 2.5em;
  line-height: 1; }

h2 {
  font-size: 2.25em;
  line-height: 1; }

h3 {
  font-size: 2em;
  line-height: 1.125; }

h4 {
  font-size: 1.75em;
  line-height: 1.125; }

h5 {
  font-size: 1.5em;
  line-height: 1.25; }

h6 {
  font-size: 1.25em;
  line-height: 1.25; }

p {
  font-size: 1.25em; }

a {
  text-decoration: none;
  color: #fff; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  margin: 0; }

section:not(.packages), footer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section:not(.packages):before, section:not(.packages):after, footer:before, footer:after {
    content: " ";
    display: table; }
  section:not(.packages):after, footer:after {
    clear: both; }

.row {
  *zoom: 1;
  padding: 4em; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row h3 {
    font-weight: 300; }

.inner {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  display: table;
  vertical-align: middle; }
  .inner:before, .inner:after {
    content: " ";
    display: table; }
  .inner:after {
    clear: both; }
  .inner .text {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    float: none;
    display: table-cell;
    vertical-align: middle; }
    .inner .text:last-child {
      margin-right: 0; }

.dispatcher {
  background: #5dba7e; }

.foreman {
  background: #af4b37;
  color: #e4d5a8; }

.blacksmith {
  background: #3d3f39;
  color: #e4d5a8; }

.trucker {
  background: #7ecabe; }

.ranger {
  background: #e4d5a8; }

.logo {
  max-width: 15em; }

.intro {
  border-top: 1px solid #bdbfb8; }

footer {
  border-top: 1px solid #bdbfb8; }
  footer p {
    font-size: 1em; }
