// Main Styles

.dispatcher {
    background: $green;
}

.foreman {
    background: $brick;
}

.blacksmith {
    background: $charcoal;
}

.trucker {
    background: $aqua;
}

.ranger {
    background: $tan;
}