{% block content %}

<section class="hero">
    <div class="row">
        <img class="logo" src="/assets/img/indatus-logo.svg" alt="">
    </div>
</section>

<section class="intro">
    <div class="row">
        <h1>Open Source Packages by Indatus</h1>
        <h4>Indatus is a leading technology company based in Louisville, KY. We strive to make powerful products and contribute to the growing open source community. Take a look at our packages and make the most of your next <a href="http://laravel.com/">Laravel</a> project.</h4>
    </div>
</section>

<section class="packages">

    <article class="dispatcher">
        <div class="inner">
            <div class="icon">
                <img src="/assets/img/dispatcher.svg" alt="dispatcher icon">
            </div>
            <div class="text">
                <h2>Dispatcher</h2>
                <p>Dispatcher is a Laravel artisan command scheduling tool used to schedule artisan commands within your project so you don't need to touch your crontab when deploying.</p>
                <a href="https://github.com/indatus" class="github-button"
                  data-count-href="/indatus/followers" data-count-api="/users/indatus#followers">Follow @indatus</a>
                <a href="https://github.com/Indatus/dispatcher" class="github-button" data-icon="octicon-star"
                  data-count-href="/indatus/dispatcher/stargazers" data-count-api="/repos/indatus/dispatcher#stargazers_count">Star</a>
                <a href="https://github.com/indatus/dispatcher" class="github-button" data-icon="octicon-git-branch-create"
                  data-count-href="/indatus/dispatcher/network" data-count-api="/repos/indatus/dispatcher#forks_count">Fork</a>
            </div>
        </div>
    </article>

    <article class="foreman">
        <div class="inner">
            <div class="icon show-small">
                <img src="/assets/img/foreman.svg" alt="foreman icon">
            </div>
            <div class="text">
                <h2>Foreman</h2>
                <p>Foreman is a Laravel scaffolding application that automates common tasks you typically perform with each new Laravel app you create.</p>
                <a href="https://github.com/indatus" class="github-button"
                  data-count-href="/indatus/followers" data-count-api="/users/indatus#followers">Follow @indatus</a>
                <a href="https://github.com/indatus/foreman" class="github-button" data-icon="octicon-star"
                  data-count-href="/indatus/foreman/stargazers" data-count-api="/repos/indatus/foreman#stargazers_count">Star</a>
                <a href="https://github.com/indatus/foreman" class="github-button" data-icon="octicon-git-branch-create"
                  data-count-href="/indatus/foreman/network" data-count-api="/repos/indatus/foreman#forks_count">Fork</a>
            </div>
            <div class="icon hide-small">
                <img src="/assets/img/foreman.svg" alt="foreman icon">
            </div>
        </div>
    </article>

    <article class="trucker">
        <div class="inner">
            <div class="icon">
                <img src="/assets/img/trucker.svg" alt="trucker icon">
            </div>
            <div class="text">
                <h2>Trucker</h2>
                <p>A PHP package for mapping remote API resources (usually RESTful) as models in an ActiveResource style.</p>
                <a href="https://github.com/indatus" class="github-button"
                  data-count-href="/indatus/followers" data-count-api="/users/indatus#followers">Follow @indatus</a>
                <a href="https://github.com/indatus/trucker" class="github-button" data-icon="octicon-star"
                  data-count-href="/indatus/trucker/stargazers" data-count-api="/repos/indatus/trucker#stargazers_count">Star</a>
                <a href="https://github.com/indatus/trucker" class="github-button" data-icon="octicon-git-branch-create"
                  data-count-href="/indatus/trucker/network" data-count-api="/repos/indatus/trucker#forks_count">Fork</a>
            </div>
        </div>
    </article>

    <article class="blacksmith">
        <div class="inner">
            <div class="icon show-small">
                <img src="/assets/img/blacksmith.svg" alt="blacksmith icon">
            </div>
            <div class="text">
                <h2>Blacksmith</h2>
                <p>Blacksmith is a code generation tool which automates the creation of common files that you'd typically create for each entity in your application.</p>
                <a href="https://github.com/indatus" class="github-button"
                  data-count-href="/indatus/followers" data-count-api="/users/indatus#followers">Follow @indatus</a>
                <a href="https://github.com/indatus/blacksmith" class="github-button" data-icon="octicon-star"
                  data-count-href="/indatus/blacksmith/stargazers" data-count-api="/repos/indatus/blacksmith#stargazers_count">Star</a>
                <a href="https://github.com/indatus/blacksmith" class="github-button" data-icon="octicon-git-branch-create"
                  data-count-href="/indatus/blacksmith/network" data-count-api="/repos/indatus/blacksmith#forks_count">Fork</a>
            </div>
            <div class="icon hide-small">
                <img src="/assets/img/blacksmith.svg" alt="blacksmith icon">
            </div>
        </div>
    </article>

    <article class="ranger">
        <div class="inner">
            <div class="icon">
                <img src="/assets/img/ranger.svg" alt="ranger icon">
            </div>
            <div class="text">
                <h2>Ranger</h2>
                <p>The process of creating an API can be tedious, especially when you consider how validation, errors, and response codes will be handled. Instead of this tedium, install Ranger.</p>
                <a href="https://github.com/indatus" class="github-button"
                  data-count-href="/indatus/followers" data-count-api="/users/indatus#followers">Follow @indatus</a>
                <a href="https://github.com/indatus/ranger" class="github-button" data-icon="octicon-star"
                  data-count-href="/indatus/ranger/stargazers" data-count-api="/repos/indatus/ranger#stargazers_count">Star</a>
                <a href="https://github.com/indatus/ranger" class="github-button" data-icon="octicon-git-branch-create"
                  data-count-href="/indatus/ranger/network" data-count-api="/repos/indatus/ranger#forks_count">Fork</a>
            </div>
        </div>
    </article>

</section>

<section class="outro">
    <div class="row">
        <p>We&apos;re constantly <a href="http://indatus.com/company/careers/software-engineer-web-applications">looking for new talent</a>. If you appreciate what we&apos;re doing, please don't hesitate to contact us.</p>
    </div>
</section>

<footer>
    <div class="row">
        <p>&copy;2014 Indatus</p>
        <ul class="social-icons">
            <li><a class="ss-social-circle ss-octocat" href="https://github.com/laravel-louisville/meetup"></a></li>
            <li><a class="ss-social-circle ss-twitter" href="https://twitter.com/lurvul"></a></li>
            <li><a class="ss-social-circle ss-vimeo" href="http://vimeo.com/laravellouisville"></a></li>
        </ul>
    </div>
</footer>

{% endblock %}