{% block content %}

<section class="hero">
    <div class="row">
        <img src="/assets/img/indatus-logo.svg" alt="">
        <h1>Open Source Packages</h1>
    </div>
</section>

<section class="intro">
    <div class="row">
        <h3>Indatus is a technology company based in Louisville, Kentucky. Aesthetic organic Pinterest synth. Wolf flexitarian Truffaut mumblecore hashtag selfies. Sriracha retro actually drinking vinegar Tonx vegan, Godard PBR&amp;B. Twee 8-bit beard, tote bag ethnic farm-to-table quinoa fanny pack ugh.</h3>
    </div>
</section>

<section class="packages">

    <article class="row dispatcher">
        <img src="/assets/img/dispatcher.svg" alt="">
        <h2>Dispatcher</h2>
        <p>Dispatcher is a Laravel artisan command scheduling tool used to schedule artisan commands within your project so you don't need to touch your crontab when deploying.</p>
    </article>

    <article class="row foreman">
        <img src="/assets/img/foreman.svg" alt="">
        <h2>Foreman</h2>
        <p>Foreman is a Laravel scaffolding application that automates common tasks you typically perform with each new Laravel app you create.</p>
    </article>

    <article class="row blacksmith">
        <img src="/assets/img/blacksmith.svg" alt="">
        <h2>Blacksmith</h2>
        <p>Blacksmith is a code generation tool which automates the creation of common files that you'd typically create for each entity in your application.</p>
    </article>

    <article class="row trucker">
        <img src="/assets/img/trucker.svg" alt="">
        <h2>Trucker</h2>
        <p>A PHP package for mapping remote API resources (usually RESTful) as models in an ActiveResource style.</p>
    </article>

    <article class="row ranger">
        <img src="/assets/img/ranger.svg" alt="">
        <h2>Ranger</h2>
        <p>The process of creating an API can be tedious, especially when you consider how validation, errors, and response codes will be handled. Instead of this tedium, install Ranger.</p>
    </article>

</section>

{% endblock %}