// Typography

body {
    font-family: "proxima-nova",sans-serif;
    font-size: em(14);
    font-weight: 300;
    line-height: 1.5;
    color: $charcoal;

    @include media(769px) {
        font-size: em(16);
    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova",sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2.5em;
    line-height: 1;
}

h2 {
    font-size: 2.25em;
    line-height: 1;
}

h3 {
    font-size: 2em;
    line-height: 1.125;
}

h4 {
    font-size: 1.75em;
    line-height: 1.25;
}

h5 {
    font-size: 1.5em;
    line-height: 1.25;
}

h6 {
    font-size: 1.25em;
    line-height: 1.25;
}

p {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: $indatus;
    padding-bottom: 2px;
    &:hover {
        color: darken($indatus, 15%);
    }
}